#-----------------------------------------------------------------------
#
# https://github.com/evertramos/nginx-proxy-automation
#
# NGINX Proxy automation
#
# This is the .env file to set up nginx-proxy in your environment
#
#-----------------------------------------------------------------------

#-----------------------------------------------------------------------
#
# Script requirements
#

# PID file the running script
PID_FILE=.fresh_start.pid

# Allow run commands with sudo if needed
ALLOW_RUN_WITH_SUDO=false

#-----------------------------------------------------------------------
#
# NGINX-Proxy containers/service
#
# The variables below is used to set the containers name for the nginx-proxy
# and the image version for each service, please note that if you use our script
# we will replace the service name in docker-compose file with the container name
#
NGINX_WEB_SEVICE_NAME=proxy-web
NGINX_IMAGE_VERSION=stable-alpine

DOCKER_GEN_SEVICE_NAME=docker-gen
DOCKER_GEN_IMAGE_VERSION=latest

LETS_ENCRYPT_SEVICE_NAME=acme-companion
NGINX_PROXY_COMPANION_IMAGE_VERSION=2.0

#-----------------------------------------------------------------------
#
# IP address of the external interface
#
# The IP address below is used to bind your local services to the internet
# please make sure you use the correct address otherwise your proxy will not
# work properly, '0.0.0.0' will work, but we recommend to update this variable
#
IPv4=0.0.0.0
IPv6=::0

#-----------------------------------------------------------------------
#
# Default network name
#
# The network name set below is used by the proxy to forward internet requests
# to the correct containers in your environment, so please make sure to add this
# network in all docker containers, otherwise it will break the proxy redirection
#
NETWORK=proxy

#-----------------------------------------------------------------------
#
# Data path for the nginx-proxy files
#
# The variable below will be used to place all files used by the nginx-proxy
# please consider including this folder to your backup services, once all config
# files, settings and certificates will be placed here in case you need to recover
#
NGINX_FILES_PATH=./data

#-----------------------------------------------------------------------
#
# Docker logging settings
#
# Logs! Very important, right? But if you do not clean it up, it might causes you
# issues on disk space over time, so keep in mind to set this log options making sure
# you will have the least to audit, any further information on that please check the docs
#
# https://docs.docker.com/config/containers/logging/configure/
#
NGINX_WEB_LOG_DRIVER=json-file
NGINX_WEB_LOG_MAX_SIZE=4m
NGINX_WEB_LOG_MAX_FILE=10

NGINX_GEN_LOG_DRIVER=json-file
NGINX_GEN_LOG_MAX_SIZE=2m
NGINX_GEN_LOG_MAX_FILE=10

NGINX_LETSENCRYPT_LOG_DRIVER=json-file
NGINX_LETSENCRYPT_LOG_MAX_SIZE=2m
NGINX_LETSENCRYPT_LOG_MAX_FILE=10

#-----------------------------------------------------------------------
#
# Docker ports that should be binded by the proxy
#
# This option were added by a contributor long ago, so might be a very specific case
# where you might need to change http and https port number, keep in mind that changes
# on that setting might will break the auto renewing Let's Encrypt certificate services
#
DOCKER_HTTP_=80
DOCKER_HTTPS=443

#-----------------------------------------------------------------------
#
# SSL policy (defaults to Mozilla-Intermediate)
#
# This also was added by a contributor which sets the default cipher configuration
# to the nginx-proxy container, which has the 'Mozilla-Intermediate' as default value
# plase make sure you take a good look at options in the url below before messing around
#
# https://github.com/nginx-proxy/nginx-proxy#how-ssl-support-works
#
#SSL_POLICY=Mozilla-Modern

#-----------------------------------------------------------------------
#
# Let's Encrypt default email
#
# You might want to inform a default email to Let's Encrypt certificate once it is
# a required parameter in order to issue the new certificate. This information will be
# replaced by the LETSENCRYPT_EMAIL environment varibale present in your docker container
#
DEFAULT_EMAIL=mail@yourdomain.tld

#-----------------------------------------------------------------------
#
# Default host
#
# Nginx-proxy will then redirect all requests to a container where you have set
# "VIRTUAL HOST" set to "DEFAULT HOST", if they don't match any (other) container
# You might want to check the link below for more information:
# https://github.com/nginx-proxy/nginx-proxy#default-host
#
DEFAULT_HOST=

#-----------------------------------------------------------------------
#
# Docker Rootless
#
# In case you want to use this proxy on Docker Rootless (DR) and you also have followed
# the DR installation from the official documentation (https://docs.docker.com/engine/security/rootless/)
# Set the following value of the DOCKER_HOST variable that you got in the final info messages after executing
# the "$ dockerd-rootless-setuptool.sh install" command.
# For example DOCKER_HOST_PATH=$XDG_RUNTIME_DIR/docker.sock
# If you are not using Docker Rootless, leave this variable blank
DOCKER_HOST_ROOTLESS_PATH=
